body {
  background: rgb(0, 0, 0);
}
h1 {
  color: white;
}
.lorem {
  color: red;
}
.delete {
  background-color: red;
  color: black;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  border-color: blue;
}
